<div class="container">
    <script src="js/password.js"></script>
    <% unless @user.nil? %>
        <%if session[:id] == @user.id%>
            <div class="box">
                <form action="/auth/change_password" method="post" onsubmit="return (verifyPassword() && confirmPassword())">
                    <div class="field">
                        <label for="password" class="label">Senha</label>
                        <div class="control">
                            <input type="password" name="password" id="password" class="input" placeholder="********" required>
                        </div>
                    </div>
                    <div class="field">
                        <label for="newPassword" class="label">Nova senha</label>
                        <div class="control">
                            <input type="password" name="newPassword" id="newPassword" class="input" placeholder="********" required>
                        </div>
                    </div>
                    <div class="field">
                        <label for="newPasswordConfirmation" class="label">Confirmar nova senha</label>
                        <div class="control">
                            <input type="password" name="newPasswordConfirmation" id="newPasswordConfirmation" class="input" placeholder="********" required>
                        </div>
                    </div>
                    <div class="content has-text-danger is-uppercase">
                        <strong id="error">
                            <% if defined?(@error) %>
                                <%= @error %>
                            <% end %>
                        </strong>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <input type="submit" value="Mudar senha" class="button is-danger">
                        </div>
                    </div>
                </form>
            </div>
        <% end %>
    <% end %>
</div>