            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <div class="title">
                            Painel Administrativo
                        </div>
                    </div>
                </div>
            </section>
            <sectino class="hero is-fullheight">
                <div class="message">
                    <div class="message-header">
                        <p>Flag</p>
                        <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.style.display='none'"></button>
                    </div>
                    <div class="message-body">
                        <p>TAC{063ff2fb783592ca2c54386d3ec5bc6a3a3e28b291c918c5e0478d9e0797a296}</p>
                    </div>
                </div>
            </sectino>