<div class="container has-text-centered">
    <div class="message is-danger">
        <div class="message-head has-text-danger">
            <h1 class="title">403</h1>
        </div>
        <div class="message-body">
            <p id="errorMessage">Opa! Você não pode olhar aqui.</p>
        </div>
    </div>
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-half">
                <img src="/images/403.jpeg" alt="Not found" class="image">
            </div>
        </div>
    </div>
</div>